* {
    margin: 0px;
    padding: 0px;
    /* border: solid 1px red */
}

body {
    padding-top: 100px; /* Ajusta este valor según la altura de tu navbar */
}

.noticia {
    color: green;
    background-color: white;
}

.reaccion-n {
    background-color: white;
    color: #1c7ed6
}

.reaccion-i {
    background-color: #1c7ed6;
    color: white
}
